body{
    background-color: black;
}

img {
    height: 200px;
    width: 200px;
  }

  .forCSS {
    margin-bottom: 50px;
    margin-left: 20px;

    display: flex;
  }
  .content {
    margin-bottom: 50px;
    margin-left: 20px;
    color: white;
  }

  .loadOrders{
    display: flex;
  }
   .header{
    color: white;
    padding: 20px;
   }
   h1{
    text-decoration: underline;
   }